<div class="wrapper">
    <mat-card class="user-card">
        <mat-card-header>
            <div mat-card-avatar class="user-header-image" [ngStyle]="{ 'background-image': 'url(https://s3.amazonaws.com/uifaces/faces/twitter/calebogden/128.jpg)'}"></div>
            <mat-card-title>George</mat-card-title>
            <mat-card-subtitle>Bluth</mat-card-subtitle>
        </mat-card-header>
        <mat-card-actions>
            <button mat-button>DETAILS</button>
        </mat-card-actions>
    </mat-card>
    <div *ngIf='errorMessage'>
    Error: {{ errorMessage }}
    </div>
</div>